.image{
height:40px;
}
.dropdown {
margin-left:auto;
}
.dropdown2{
 margin-left:45px;
}
.filers{
padding-bottom:25px;
}
.lang{
padding-bottom:100px;
}
.flex{
display:flex;
}
h2{
margin-right:300px;
padding-top:50px;
margin-left:50px;
font-weight:bold;
}
.image1{
height:350px;
width:250px;
border-radius:10px;
}
.firstrow{
margin-top:35px;
margin-left:50px;
}
.secondrow{
margin-left:50px;
margin-top:35px;

}
.para{
margin-bottom:300px;
}
.mainpage{
background-color:black;
color:white;
}

