.image{
height:50px;
}
.dropdown {
margin-left:auto;
}
.image2{
height:450px;
border-radius:40px;
padding-left:25px;
padding-right:25px;
padding-top:25px;
padding-bottom:25px;
}
.ticketbook{
background-color:black;
}
.details{
display:flex;
color:white;
font-weight:bold;

}
.moviedetails{
padding-top:50px;
padding-left:25px;
}
.Click{
background-color:#e83155;
height:40px;
width:200px;
margin-top:25px;
border-radius:10px;
color:white;
}
.moviename{
font-size:25px;
}